* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', sans-serif;
    font-size: 27px;
    text-align: center;
    background-color: #B7EFD8;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
a {
    text-decoration: none;
    color: black;
}
/* Main Page */
.recipes {
    padding: 32px 0;
    margin-top: 2rem;
}
  
.recipe-pic {
    width: 65%;
    height: 60%;
} 
.recipes-container {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.recipe-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}
.recipe-container p {
    padding: 0.4rem;
    font-weight: bold;
} 
.recipe-card {
    background-color: #A4CDBD;
    border-radius: 11px;
    box-shadow: 0 3px 10px grey;
    padding: 20px;
    margin: 20px;
}
/* Headings */
h1 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-bottom: solid 3px black;
}
h2, h3 {
    margin-top: 2rem;
    font-size: 35px;
    border-bottom: solid 3px black;
}
.partition {
    font-size: 30px;
    font-weight: bold;
}
/* Text */
.description {
    margin-top: 2rem;
    font-size: 22px;
}
/* Images */
img {
    width: 45%;
    height: inherit;
    margin-top: 1.5rem;
}
.verde {
    width: 30%;
    height: inherit;
}
/* Lists */
li {
    text-align: left;
    padding: .5rem;
    font-size: 22px;
}
ul {
    margin-top: 2rem;
}
ol {
    margin-top: 2rem;
}
/* Footer */
footer {
    margin-top: 3rem;
    background-color: limegreen;
    color: black;
}